#head1{
    background-color: aqua;
    color: rgb(40, 95, 157);
}
body{
    background-color: azure;
}
.list1{
    background-color: blanchedalmond;
    color: rgb(164, 58, 58);
}
button{
    color: white;
    background-color: black;
    border-radius: 4px;
    border: 1px solid rgb(72, 72, 72);
}
button:active{
    background-color: wheat;
    color: black;
    transition: 1ms;
    transform: scale(0.95);
    border: 1px solid black;
}